link(rel="stylesheet" href="vendor/bootstrap.min.css" inline)
link(rel="stylesheet" href="style.css" inline)
#main
  .container-fluid(v-for="i in (Math.round((date1 - date0) / (3600 * 24)) + 1)")
    h3(v-html="wysw(i)")
    .row
      .col-xs-1.
        Godzina
      .col-xs-11
        .col-xs-2.
          1
        .col-xs-2.
          2
        .col-xs-2.
          3
        .col-xs-2.
          4
        .col-xs-2.
          5
        .col-xs-2.
          6
    .row
      .col-xs-1 &nbsp;
      .col-xs-11
        .col-xs-2 &nbsp;
        .col-xs-2 &nbsp;
        .col-xs-2 &nbsp;
        .col-xs-2 &nbsp;
        .col-xs-2 &nbsp;
        .col-xs-2 &nbsp;
    .row
      .col-xs-1 &nbsp;
      .col-xs-11
        .col-xs-2 &nbsp;
        .col-xs-2 &nbsp;
        .col-xs-2 &nbsp;
        .col-xs-2 &nbsp;
        .col-xs-2 &nbsp;
        .col-xs-2 &nbsp;
    .row(v-for="d in (((godz1 - godz0) * 2) + 1)")
      .col-xs-1 {{ godz(d) }}
      .col-xs-11
        .col-xs-2 &nbsp;
        .col-xs-2 &nbsp;
        .col-xs-2 &nbsp;
        .col-xs-2 &nbsp;
        .col-xs-2 &nbsp;
        .col-xs-2 &nbsp;
script(src="../node_modules/vue/dist/vue.min.js" inline)
script(src="../node_modules/moment/min/moment-with-locales.min.js" inline)
script(src="script.js" inline)
