link(rel="stylesheet" href="vendor/bootstrap.min.css" inline)
link(rel="stylesheet" href="style.css" inline)
#main
  .container-fluid(v-for="i in (Math.round((date1 - date0) / (3600 * 24)) + 1)")
    h3(v-html="wysw(i)")
    .row
      .godz Godz
      .col 1
      .col 2
      .col 3
      .col 4
      .col 5
      .col 6
    .row
      .godz &nbsp;
      .col &nbsp;
      .col &nbsp;
      .col &nbsp;
      .col &nbsp;
      .col &nbsp;
      .col &nbsp;
    .row
      .godz &nbsp;
      .col &nbsp;
      .col &nbsp;
      .col &nbsp;
      .col &nbsp;
      .col &nbsp;
      .col &nbsp;
    .row(v-for="d in (((godz1 - godz0) * 2) + 1)")
      .godz {{ godz(d) }}
      .col &nbsp;
      .col &nbsp;
      .col &nbsp;
      .col &nbsp;
      .col &nbsp;
      .col &nbsp;
script(src="../node_modules/vue/dist/vue.min.js" inline)
script(src="../node_modules/moment/min/moment-with-locales.min.js" inline)
script(src="script.js" inline)
