body {
    display: none;
    text-align: center;
}

body.loaded {
    display: initial;
}

.container-fluid {
    page-break-after: always;
    margin-left: 50px;
}

.container-fluid:nth-child(even) {
    margin-left: 0 !important;
    margin-right: 50px;
}

.container-fluid .row:nth-child(2) {
    background-color: #ddd !important;
    font-size: 1.1em;
    font-weight: bold;
}

.container-fluid .row .col-xs-2 {
    border: 1px solid black;
    padding: 6px 0;
}

.red {
    color: red;
}